streamlit
langchain
langchain-community
langchain-core
langchain-text-splitters
langchain-huggingface
langchain-deepseek
chromadb
sentence-transformers
python-docx
pypdf
python-dotenv
torchvision
rank-bm25
protobuf==3.20.3
setuptools